<nav class="navbar navbar-default" id="top1">
  <ul class="nav navbar-nav navbar-left">
    <li class="navbar-brand" id="brand">
      <a href="" style="color: #fe8a6a">Hello Baby</a>
    </li>
    <li><a href=""> <i class="fa fa-life-ring"></i> &nbsp;生活</a></li>
    <li><a href=""> <i class="fa fa-ravelry "></i> &nbsp;母婴</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right" style="margin-right: 80px">
    <li><a href=""> <i class="fa fa-user-o"></i> &nbsp;个人中心</a></li>
    <li><a href="">登录</a></li>
    <li><a href="">注册</a></li>
  </ul>
</nav>
