<div id="carousel-example-generic" class="carousel slide col-xs-10 col-sm-10" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active" style="background-color: #F4E3D9;">

      <img src="../../assets/images/slide2.png"/>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item" style="background-color: #F4E3D9;">

      <img src="../../assets/images/slide2.png"/>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item" style="background-color: #F4E3D9;">

      <img src="../../assets/images/slide2.png" />
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>

</div>
<div class="titleTxt"><a href=""><span>关于宝宝，你了解多少？</span></a></div>
<div class="Article col-xs-10 col-sm-10 col-md-10 col-lg-10">
  <div class="ArticleChart col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <ul>
      <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="Img hidden-xs col-sm-4 col-md-4 col-lg-4">
          <img src="../../assets/images/Post1.jpg"/></div>
        <div class="Post col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h3><a href="#">影响宝宝智力6类食物 别给他吃了</a></h3>
         <div class="PostMain">
           <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝妈宝爸们，你们造吗?给宝宝添加某些食物，会影响到他们的智力发育哦!快点跟着小编，来看看都是哪些食物吧！<br>1、含铅食物
          铅是杀害脑细胞的重要杀手，食物中的铅含量过高会损害脑....</p></div>
        </div>

      </li>
      <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="Img hidden-xs col-sm-4 col-md-4 col-lg-4">
          <img src="../../assets/images/Post1.jpg"/></div>
        <div class="Post col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <h3><a href="#">影响宝宝智力6类食物 别给他吃了</a></h3>
          <div class="PostMain">
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝妈宝爸们，你们造吗?给宝宝添加某些食物，会影响到他们的智力发育哦!快点跟着小编，来看看都是哪些食物吧！<br>1、含铅食物
              铅是杀害脑细胞的重要杀手，食物中的铅含量过高会损害脑....</p></div>
        </div>
      </li>
      <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="Img hidden-xs col-sm-4 col-md-4 col-lg-4">
          <img src="../../assets/images/Post1.jpg"/></div>
        <div class="Post col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <h3><a href="#">影响宝宝智力6类食物 别给他吃了</a></h3>
          <div class="PostMain">
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝妈宝爸们，你们造吗?给宝宝添加某些食物，会影响到他们的智力发育哦!快点跟着小编，来看看都是哪些食物吧！<br>1、含铅食物
              铅是杀害脑细胞的重要杀手，食物中的铅含量过高会损害脑....</p></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="ArticleAd hidden-xs hidden-sm col-md-4 col-lg-4">
    <div class="Img">
      <img src="../../assets/images/PostAd1.jpg"/></div>
  </div>
</div>
