<!--图片轮播-->
<div class="mainSlider">
  <div id="carousel-example-generic" class="carousel slide col-xs-10 col-sm-10 col-md-10 col-lg-10"
       data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" style="background-color: #F4E3D9;">

        <img src="../../assets/images/slide2.png"/>
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item" style="background-color: #F4E3D9;">

        <img src="../../assets/images/slide2.png"/>
        <div class="carousel-caption">
          ...
        </div>
      </div>
      <div class="item" style="background-color: #F4E3D9;">

        <img src="../../assets/images/slide2.png"/>
        <div class="carousel-caption">
          ...
        </div>
      </div>
    </div>
  </div>
</div>
<!--大标题-->
<div class="titleTxt"><a href="">
  <span>关于宝宝，你了解多少？</span></a>
</div>
<!--文章列表和广告位-->
<div class="mainArticle">
  <div class="Article col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="ArticleChart col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <ul>
        <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="Img hidden-xs col-sm-4 col-md-4 col-lg-4">
            <img src="../../assets/images/Post1.jpg"/></div>
          <div class="Post col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h3><a href="#">影响宝宝智力6类食物 别给他吃了</a></h3>
            <div class="PostMain">
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝妈宝爸们，你们造吗?给宝宝添加某些食物，会影响到他们的智力发育哦!快点跟着小编，来看看都是哪些食物吧！<br>1、含铅食物
                铅是杀害脑细胞的重要杀手，食物中的铅含量过高会损害脑....</p></div>
          </div>

        </li>
        <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="Img hidden-xs col-sm-4 col-md-4 col-lg-4">
            <img src="../../assets/images/Post1.jpg"/></div>
          <div class="Post col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h3><a href="#">影响宝宝智力6类食物 别给他吃了</a></h3>
            <div class="PostMain">
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝妈宝爸们，你们造吗?给宝宝添加某些食物，会影响到他们的智力发育哦!快点跟着小编，来看看都是哪些食物吧！<br>1、含铅食物
                铅是杀害脑细胞的重要杀手，食物中的铅含量过高会损害脑....</p></div>
          </div>
        </li>
        <li class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="Img hidden-xs col-sm-4 col-md-4 col-lg-4">
            <img src="../../assets/images/Post1.jpg"/></div>
          <div class="Post col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <h3><a href="#">影响宝宝智力6类食物 别给他吃了</a></h3>
            <div class="PostMain">
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;宝妈宝爸们，你们造吗?给宝宝添加某些食物，会影响到他们的智力发育哦!快点跟着小编，来看看都是哪些食物吧！<br>1、含铅食物
                铅是杀害脑细胞的重要杀手，食物中的铅含量过高会损害脑....</p></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="ArticleAd hidden-xs hidden-sm col-md-4 col-lg-4">
      <div class="Img">
        <img src="../../assets/images/PostAd1.jpg"/></div>
    </div>
  </div>
</div>
<!--亲子视界-->
<div class="mainArticle2">
  <div class="MA2 col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <div class="MA2-1 col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <div class="MA2nav col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <span class="MA2title">亲子视界</span>
        <div class="MA2nav-1">
          <ul>
            <li>资讯

            </li>
            <li>推荐</li>
            <li>互动</li>
          </ul>
        </div>
        <div class="MA2info col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="Img">

            <img src="../../assets/images/slide4.jpg"/></div>
          <div class="InfoMain">
            <a href="">
              <p class="MA2title-1">探究神奇母乳<br>
              金领冠坚持15年中国母乳研究</p></a>
            <p>俗话说：“金水银水不如妈妈的奶水！”母乳是妈妈给宝宝最好的礼物，帮助宝宝更好的成长，然而在母乳不足时，妈妈们应该怎样给宝宝挑选奶粉呢？...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="MA3 hidden-xs hidden-sm col-md-4 col-lg4">
     <div class="MA3-1">
       <div class="MA3nav">
        <p>达人专访</p>
       </div>
<div class="MA3main">
  <div class="">
    <ul>
      <li><a href="">杨姗姗 模特妈咪的育儿新生活</a></li>
      <li><a href="">彩虹姐姐 开心是我的育儿宝典</a></li>
      <li><a href="">生活美学家陈大咖 做懂爱的妈妈</a></li>
      <li><a href="">杨姗姗 模特妈咪的育儿新生活</a></li>
      <li><a href="">彩虹姐姐 开心是我的育儿宝典</a></li>
    </ul>
     </div>
    </div>
  </div>
</div>
  </div>
</div>
<!--幸福妈咪-->
<div class="mainArticle3">

    <div class="MA3 col-xs-10 col-sm-10 col-md-10 col-lg-10">

      <div class="MA3-1">
        <div class="MA3Title">
         <p>幸福妈咪</p>
        </div>
        <div class="MA3Left col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <div class="img">

            <img src="../../assets/images/MA3-1.jpg"/>

           </div>
          <div class="MA3Info">
            <ul class="mainA">
              <li class="mainA-1">
                <div>
                  <p class="title"><a href="">孕期吃得好≠有营养 赶紧看！</a></p>
                  <p class="main">许多人认为：怀孕了就得大鱼大肉，多吃多补营养才会好!其实，这种想法...</p>
                  <ul class="mainB">
                    <li class="mainB-1"><a href=""><i class="fa fa-hand-o-right" aria-hidden="true">

                    </i>&nbsp;&nbsp;&nbsp;怀上了 没吃叶酸怎办</a>
                    </li>

                    <li class="mainB-2"><a href=""><i class="fa fa-hand-o-right" aria-hidden="true">

                    </i>&nbsp;&nbsp;&nbsp;为啥孕妈睡前都做这事</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="mainA-1">
                <div>
                  <p class="title"><a href="">孕期吃得好≠有营养 赶紧看！</a></p>
                  <p class="main">许多人认为：怀孕了就得大鱼大肉，多吃多补营养才会好!其实，这种想法...</p>
                  <ul class="mainB">
                    <li class="mainB-1"><a href=""><i class="fa fa-hand-o-right" aria-hidden="true">

                    </i>&nbsp;&nbsp;&nbsp;怀上了 没吃叶酸怎办</a>
                    </li>

                    <li class="mainB-2"><a href=""><i class="fa fa-hand-o-right" aria-hidden="true">

                    </i>&nbsp;&nbsp;&nbsp;为啥孕妈睡前都做这事</a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="mainA-1">
                <div>
                  <p class="title"><a href="">孕期吃得好≠有营养 赶紧看！</a></p>
                  <p class="main">许多人认为：怀孕了就得大鱼大肉，多吃多补营养才会好!其实，这种想法...</p>
                  <ul class="mainB">
                    <li class="mainB-1"><a href=""><i class="fa fa-hand-o-right" aria-hidden="true">

                    </i>&nbsp;&nbsp;&nbsp;怀上了 没吃叶酸怎办</a>
                    </li>

                    <li class="mainB-2"><a href=""><i class="fa fa-hand-o-right" aria-hidden="true">

                    </i>&nbsp;&nbsp;&nbsp;为啥孕妈睡前都做这事</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <div class="img2">
            <a href=""><img src="../../assets/images/AD5.png" height="110" width="780"/></a>
          </div>

        </div>
        <div class="MA3Right hidden-xs hidden-sm col-md-4 col-lg-4">
          <div class="MA3RightNav">
            <div class="Nav1">
              <p class="title1" id="title1">精彩回答</p>
            </div>
            <div class="Nav2">
              <p class="title1" id="title2">最新推荐</p>
            </div>

          </div>
          <div class="MA3RightMain">
             <div class="MainAll" >
               <div class="MainAllLeft">
                 <ul class="Main1">
                   <a href="">
                     <li>
                     <p class="title">
                       <span style="font-size: 1.3em ;color: red">Q:</span>
                       分娩时要经历啥 提前看不紧张</p>
                     <div>
                       <p class="main"><span style="font-size: 1.7em ;color: red">
                    A:</span>怀胎10月，终于等到分娩这一天。对于头胎的孕妈咪来说，分娩时会经历什么是个未知数，所以不少孕妈咪在分....</p>
                     </div>

                   </li></a>
                   <a href="">
                     <li>
                     <p class="title">  <span style="font-size: 1.4em ;color: red">Q:</span>分娩时要经历啥 提前看不紧张</p>
                     <div>
                       <p class="main"><span style="font-size: 1.7em ;color: red">A:</span>怀胎10月，终于等到分娩这一天。对于头胎的孕妈咪来说，分娩时会经历什么是个未知数，所以不少孕妈咪在分....</p>
                     </div>

                   </li></a>
                   <a href="">
                     <li>
                     <p class="title">  <span style="font-size: 1.4em ;color: red">Q:</span>分娩时要经历啥 提前看不紧张</p>
                     <div>
                       <p class="main"><span style="font-size: 1.7em ;color: red">A:</span>怀胎10月，终于等到分娩这一天。对于头胎的孕妈咪来说，分娩时会经历什么是个未知数，所以不少孕妈咪在分....</p>
                     </div>

                   </li></a>
                   <a href="">
                     <li>
                     <p class="title">  <span style="font-size: 1.4em ;color: red">Q:</span>分娩时要经历啥 提前看不紧张</p>
                     <div>
                       <p class="main"><span style="font-size: 1.7em ;color: red">A:</span>怀胎10月，终于等到分娩这一天。对于头胎的孕妈咪来说，分娩时会经历什么是个未知数，所以不少孕妈咪在分....</p>
                     </div>

                   </li></a>
                 </ul>
               </div>
               <div class="MainAllRight">
                 <ul class="Main2">
                   <a href=""> <li>
                     <p class="title">
                       <span style="font-size: 1.3em ;color: red">Q:</span>
                       孕期哪些方式可以补碘？</p>
                     <div>
                       <p class="main"><span style="font-size: 1.7em ;color: red">
                    A:</span>如何来看孕期是否缺碘，可以通过检测尿碘。如果尿碘较低，一般则表示缺碘。但单次的测试会有一些因素干扰....</p>
                     </div>

                   </li></a>
                   <a href=""> <li>
                     <p class="title">  <span style="font-size: 1.4em ;color: red">Q:</span>孕期哪些方式可以补碘？</p>
                     <div>
                       <p class="main"><span style="font-size: 1.7em ;color: red">A:</span>如何来看孕期是否缺碘，可以通过检测尿碘。如果尿碘较低，一般则表示缺碘。但单次的测试会有一些因素干扰....</p>
                     </div>

                   </li></a>
                   <a href=""> <li>
                     <p class="title">  <span style="font-size: 1.4em ;color: red">Q:</span>孕期有哪些方式可以补碘？</p>
                     <div>
                       <p class="main"><span style="font-size: 1.7em ;color: red">A:</span>如何来看孕期是否缺碘，可以通过检测尿碘。如果尿碘较低，一般则表示缺碘。但单次的测试会有一些因素干扰....</p>
                     </div>

                   </li></a>
                   <a href=""> <li>
                     <p class="title">  <span style="font-size: 1.4em ;color: red">Q:</span>孕期有哪些方式可以补碘？</p>
                     <div>
                       <p class="main"><span style="font-size: 1.7em ;color: red">A:</span>如何来看孕期是否缺碘，可以通过检测尿碘。如果尿碘较低，一般则表示缺碘。但单次的测试会有一些因素干扰....</p>
                     </div>

                   </li></a>
                 </ul>
               </div>
             </div>
          </div>

        </div>

      </div>
    </div>
</div>


<!--页脚-->
<footer>
  <div class="footer">
    <div class="FooterAll col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div class="Footer1">
        <ul class="Footer1-1">
          <li class="Footer1-1T">
            <span class="title">Hello Baby</span>
          </li>
            <li><a href="">关于我们</a></li>
          <li><a href="">服务条款</a></li>
          <li><a href="">隐私条款</a></li>
          <li><a href="">blog</a></li>
        </ul>
      </div>
      <div class="Footer1">
        <ul class="Footer1-1">
          <li class="Footer1-1T">
            <span class="title">标签云</span>
          </li>
        <li> <span><a href="">....</a></span></li>
        </ul>
      </div>
      <div class="Footer1">
        <ul class="Footer1-1">
          <li class="Footer1-1T">
            <span class="title">我们用到的技术</span>
          </li>
          <li id="Link">
            <span><a href="">Bootstrap</a></span>
            <span><a href="">Angular 2</a></span>
            <span><a href="">Git</a></span>
            <span><a href="">Html5+CSS3</a></span>
            <span><a href="">Node JS</a></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="Footer2 col-xs-12 col-sm-12 col-md-12 col-lg-12"  >
        <div>
          <ul>
            <li>Hello Baby©中文网</li>
            <li>京ICP备11008151号</li>
            <li>京公网安备11010802014853</li>
          </ul>
        </div>
    </div>
  </div>
</footer>
