#brand {
  font-size: 2.2em;
  margin-top: -15px;
}
.navbar{
  background-color: rgba(225, 225, 225, 0.5);
}
.navbar-default{

}
#nav-right {
  margin-right: 100px;
}
#top1 {
  position: fixed;
  width: 100%;
  z-index: 5;
  font-size: 1.1em;
 /*kground-color: #cacaca;*!*/
}
#top2 {
  height: 735px;
  min-height: 500px;
  width: 2.5%;
  right: 0;
  background-color: #ffffff;
  position: fixed;
  float: right;
  z-index: 2;
  bottom: 0;
}
.top2-ul1 {
  /*margin-top: 180px;*/
  height: 300px;
  width: 50px;
  margin-top: 210px;
  /*border: solid 1px red;*/
  margin-left: -28px;
  list-style: none;
  color: #575757;
  z-index: 5;
}
.top2-ul1 li{
  height:75px;
  position: relative;
  top: 15px;
}
.top2-ul1 li a {
  color: #575757;
  line-height: 35px;
  z-index: 5;
  font-size: 1.3em;
}
.top2-ul1 li a:hover {
  color: #FF4444;
}
.top2-ul1 li .collect:hover::before{
  content: "我的收藏";
  font-size: 16px;

  background-color: #ffffff;
  width: 130px;
  border: solid 1px rgba(193, 193, 193, 0.71);
  border-right: none;
  right: 20px;
  position: absolute;
  text-align: center;
  z-index: -1;
}
.top2-ul1 li .goods:hover::before{
  content: "母婴生活馆";
  font-size: 16px;
  background-color: #ffffff;
  width: 130px;
  border: solid 1px rgba(193, 193, 193, 0.71);
  border-right: none;
  right: 20px;
  position: absolute;
  text-align: center;
  z-index: -1;
}
.top2-ul1 li .shore:hover::before{
  content: "分享给朋友";
  font-size: 16px;
  background-color: #ffffff;
  width: 130px;
  border: solid 1px rgba(193, 193, 193, 0.71);
  border-right: none;
  right: 20px;
  position: absolute;
  text-align: center;
  z-index: -1;
}
.top2-ul2 {
  height: 100px;
  width: 50px;
  margin-top: 130px;
  margin-left: -28px;
  list-style: none;
  /*border: solid 1px red;*/
  color: #575757;
  z-index: 5;
}
.top2-ul2 li{
  height: 55px;
  position: relative;
}
.top2-ul2 li a {
  color: #575757;
  line-height: 35px;
  z-index: 5;
  font-size: 1.3em;
}
.top2-ul2 li a:hover {
  color: #FF4444;
}
.top2-ul2 li .Feedback:hover::before{
  content: "意见反馈";
  font-size: 16px;
  background-color: #ffffff;
  width: 130px;
  border: solid 1px rgba(193, 193, 193, 0.71);
  border-right: none;
  right: 20px;
  position: absolute;
  text-align: center;
  z-index: -1;
}
.modalTop {
  width: 512px;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  border: solid 1px rgba(135, 135, 135, 1);
  float: right;
  margin-right: 1.5%;
}
.modalTop ul {
  width: 510px;
  height: 720px;
  /*border: solid 1px yellow;*/

  list-style: none;
  overflow: auto;
}
.modalTop ul li {
  height: 100px;
  width: 450px;
  font-size: 2em;
  border: solid 1px #bfbfbf;
  margin-top: 10px;
  margin-left: -15px;
}

.modalTop ul .goodsTitle {
  border: none;
  color: #fc736e;
  font-size: 32px;
}
.goodsImg {
  float: left;
}

.goodsImg img {
  height: 75px;
  width: 75px;
  /*border: solid 1px #b0b0b0;*/
  margin-top: 12px;
}

.goodsDes {
  height: 98px;
  width: 345px;
  /*border: solid 1px red;*/
  float: right;
  font-size: 0.66em;
}

.goodsDes .prise {
  color: red;
}

.goodsDes p a {
  color: #4e4e4e;
  text-decoration: none;
}

.goodsDes p a:hover {
  color: red;
}

.feedback {
  height: 500px;
  width: 1000px;
  border: solid 1px #686868;
  margin: 80px auto;
  background-color: white;
}

.feedback h2 span {
  display: block;
  background: url(http://www1.pcbaby.com.cn/2014/advice/advice_bg.png) no-repeat 0 0;
  width: 211px;
  height: 33px;
  line-height: 33px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.collectModal{
  height: 100%;
  width: 500px;
  float: right;
  overflow: auto;
  border: solid 1px #797979;
  background-color: #fff;
}

.fbCont {
  width: 1000px;
  overflow: hidden;
}

.fbCont h3 {
  text-align: left;
  font-weight: normal;
  width: 100%;
  height: 29px;
  overflow: hidden;
}

.fbCont div {
  padding: 13px 0 0 0;
  margin: 0 20px;
}

.fbCont span {
  display: inline-block;
  text-align: left;
  margin-right: 5px;
  font-size: 14px;
}

.fbCont .hidden {
  display: none;
}

.fbCont .url input, .fbCont .report textarea, .fbCont .contact input {
  line-height: 14px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  padding: 0 8px;
}

.fbCont .url input {
  width: 940px;
  height: 14px;
  padding: 8px
}

.fbCont .report {
  height: 180px;
  overflow: hidden;
}
.fbCont .report textarea {
  width: 940px;
  resize: none;
  line-height: 24px;
  height: 144px;
  _height: 142px;
  _float: left;
  border-bottom: solid 1px black;
  _margin-left: -20px;
}
.fbCont .contact{
  margin-top: 10px;
}
.fbCont .contact input {
  width: 230px;
  height: 14px;
  padding: 15px;
  font-size: 12px;
}

.fbCont .submit {
  text-align: center;
  margin-top: 10px;
  height: 58px;
  padding: 20px 0 0 0;
}

.fbCont .submit input {
  width: 232px;
  height: 38px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;

  background: #f44;
  border: none;
}

.fbCont .submit .hover {
  background: #ee1818;
  color: #fff;
}

.fbCont .contact .grey {
  color: #bcbcbc;
}


html body{
  height: 100%;
}
#LiBox{
display: none;
}
#LiBox1{
  display: none;
}
#LiBox ul{
  list-style: none;
}
#LiBox ul li,#LiBox1 ul li{
  padding: 5px;
}
#LiBox ul li a{
    text-decoration: none;
    color: #575757;
  width: 50px;
  height: 30px;
  /*border: solid 1px red;*/

  }
#LiBox1 ul{
  list-style: none;
}
#LiBox1 ul li a{
  text-decoration: none;
  color: #575757;
}
#LiBox ul li a:hover{
  color: #fc736e;
}
#LiBox1 ul li a:hover{
  color: #fc736e;
}
.nav .NavFirst{
  width: 200px;
}

