<nav class="navbar navbar-default" id="top1">
  <ul class="nav navbar-nav navbar-left">
    <li class="navbar-brand" id="brand">
      <a routerLink="/index" routerLinkActive="active" style="color: #fe8a6a">Hello Baby</a>
    </li>
    <li ><a routerLink="/parenting" routerLinkActive="active">
      <i class="fa fa-life-ring"></i> &nbsp;育儿知识</a>
    </li>
    <li><a routerLink="/good-shop" routerLinkActive="active">
      <i class="fa fa-ravelry "></i> &nbsp;母婴生活</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right" style="margin-right: 80px">
    <li><a href=""> <i class="fa fa-user-o"></i> &nbsp;个人中心</a></li>
    <li><a href="">登录</a></li>
    <li><a href="">注册</a></li>
  </ul>
</nav>
<div id="top2" >
  <ul class="top2-ul1">
    <li class="dropdown setup-guides-dropdown">
      <a href="#" class="collect"><i class="fa fa-heart-o" ></i>
      </a>
    </li>
    <li><a href="#" class="goods" data-toggle="modal" data-target="#goodsModal">
      <i class="fa fa-shopping-bag"></i></a></li>
    <li><a href="#" class="shore">
      <i class="fa fa-share-square-o"></i></a></li>
  </ul>
  <ul class="top2-ul2">
    <li>
      <a href="#" class="" data-toggle="modal" data-target="#feedbackModal">
        <i class="fa fa-paper-plane-o"></i></a></li>

    <li><a href="javascript:scroll(0,0)">
      <i class="fa fa-arrow-up"></i></a></li>
  </ul>
</div>
<div id="goodsModal" class="modal fade " role="dialog">
  <div class="modalTop">
    <ul>
      <li class="goodsTitle">
        <i class="fa fa-shopping-basket fa-2x">
        </i>&nbsp;&nbsp;&nbsp;好货分享</li>
      <li>
        <div class="goodsImg"><img src="../assets/images/goods1.jpg"/></div>
        <div class="goodsDes">
          <p><a href="">Quinny 奎尼 Zapp Xtra 儿童推车 </a></p>
          <p><span class="prise">￥  1299</span></p>
          <p><a href=""><span class="fa fa-heart-o fa-0.8x">&nbsp;&nbsp;喜欢(888)</span></a></p>
        </div>
      </li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
<div id="feedbackModal" class="modal fade" role="dialog">
  <div class="feedback">
  <h2><span>意见反馈与错误报告</span></h2>
    <div class="fbCont" id="submitDiv">
      <form id="postform" action="" method="post">

        <div class="report">
          <h3> <span class="tit">问题描述或意见反馈</span><i class="note" style="color: red">*</i> <span id="Jnote1" class="hidden"> 请填写正确内容和问题表述</span> </h3>
          <textarea name="reportContent"rows="6"id="Jreport"maxlength="1500"></textarea>
        </div>
        <div class="contact">
          <h3 class="w94"> <span class="tit">您的联系方式</span><i class="note" style="color: red">*</i> <span id="Jnote2" class="hidden"> 请填写联系方式，方便我们与您取得联系</span> </h3>
          <input type="text" placeholder="邮箱、QQ或手机" name="contactInfo" class="grey" id="Jcontact" style="text-align: left;" maxlength="100"/>
        </div>
        <div class="submit">
          <input type="button" id="submitButton" value="提 交" onmousedown="this.className = 'hover';" onmouseup="this.className = '';" />
        </div>
      </form>
    </div>

  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
