<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default" id="top1">
  <ul class="nav navbar-nav navbar-left">
    <li class="navbar-brand" id="brand">
      <a href="" style="color: #fe8a6a">Hello Baby</a>
    </li>
    <li><a href=""> <i class="fa fa-life-ring"></i> &nbsp;生活</a></li>
    <li><a href=""> <i class="fa fa-ravelry "></i> &nbsp;母婴</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right" style="margin-right: 80px">
    <li><a href=""> <i class="fa fa-user-o"></i> &nbsp;个人中心</a></li>
    <li><a href="">登录</a></li>
    <li><a href="">注册</a></li>
  </ul>
</nav>
<div id="top2" >
  <ul class="top2-ul1">
    <li><a href=""></a></li>
    <li><a href="#" class="collect"><i class="fa fa-heart-o" ></i></a></li>
    <li><a href="" class="goods" data-toggle="modal" data-target="#goodsModal">
      <i class="fa fa-shopping-bag"></i></a></li>
    <li><a href="#" class="shore"><i class="fa fa-share-square-o"></i></a></li>
  </ul>
  <ul class="top2-ul2">
    <li><a href="#" ><i class="fa fa-paper-plane-o"></i></a></li>
    <li><a href="#"><i class="fa fa-arrow-up"></i></a></li>
  </ul>
</div>
<div class="slider">
  <div class="slider-img" style="overflow: hidden">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
         <img src="../assets/imgs/timg (3).jpg"/>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">

          <img src="../assets/imgs/timg (5).jpg"/>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <img src="../assets/imgs/timg.jpg"/>
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="slider-post">
    <div>
      <span class="rec">&nbsp;&nbsp;&nbsp;&nbsp;精彩推荐</span>
      <p class="post-title">  <a href="">&nbsp;&nbsp;&nbsp;&nbsp;
        为什么换季要补充乳铁蛋白 </a></p>
      <div class="post-txt">
        <p>夏天拖着小尾巴走得慢悠悠恍惚惚，秋天收敛起锋芒来的静悄悄飘飘然~
          又到了换季流感多发的时节,这寒风一吹，天冷要加衣服，此话对有孩子的家庭绝不需提醒。怕孩子生病，妈妈们早在网上给孩子买保暖衣服，把孩子层层叠叠裹上了。世界上有一种冷叫做你妈觉得你冷。
          然鹅，集机智与美貌于一身的小优却认为：与其睁眼闭眼给孩子“买买买”，还不如增强孩子自身的免疫力呢！</p>
      </div>
    </div>

  </div>
</div>

<div id="goodsModal" class="modal fade " role="dialog">
<div class="modalTop">
  <ul>
    <li class="goodsTitle">
      <i class="fa fa-shopping-basket fa-2x">
      </i>&nbsp;&nbsp;&nbsp;好货分享</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

</div>
