<div id="bgimg">
<div id="registername" class=" col-xs-offset-3 col-md-offset-1">HelloBoby</div>
  <div class="container">
    <div class="row">
      <form  #registform="ngForm" class="form-horizontal col-md-8 col-lg-7 col-sm-12 col-xs-12 " id="regist_form">

        <div  id="daohang">
          <div  [class.active]="tab_index==index" class="active col-lg-4 col-md-4 col-sm-3 col-xs-4 col-md-offset-2
               col-lg-offset-2  col-sm-offset-3  col-xs-offset-2"
                (click)="tab_index=index"   *ngFor="let ste of ster;let index=index"><a href="#">{{ste}}</a></div>
        </div>

        <div [ngSwitch]="tab_index">
          <div *ngSwitchCase="0">
            <div class="form-group">
              <label for="telephone" class="col-sm-2 control-label name">手机号</label>
              <div class="col-sm-9 ">
                <input type="text" #tel="ngModel"  [(ngModel)]="_telephone" pattern="^1(3|4|5|7|8)\d{9}$" required  class="form-control" id="telephone" name="telephone"  placeholder="请输入手机号">
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label"></label>
              <div *ngIf="tel.invalid  && (tel.ng-dirty || tel.touched)" class="col-sm-9 text-danger"id="error_telephone">
                <div *ngIf="tel.errors.required">
                  <img src="{{jinggaoimg}}" alt="">手机号不能为空。
                </div>
                <div *ngIf="tel.errors.pattern">
                  <img src="{{jinggaoimg}}" alt="">请输入有效的手机号。
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-sm-2 control-label name">密码</label>
              <div class="col-sm-9 ">
                <input type="password" #pass="ngModel" minlength="6" [(ngModel)]="_password" required  class="form-control" id="password" name="password"  placeholder="请输入密码">
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label"></label>
              <div  *ngIf="pass.invalid && (pass.dirty || pass.touched )" class="col-sm-9 text-danger" id="error_password">
                  <div *ngIf="pass.errors.required">
                    <img src="{{jinggaoimg}}" alt="">密码不能为空。
                  </div>
                  <div *ngIf="pass.errors.minlength">
                    <img src="{{jinggaoimg}}" alt="">密码不能小于6位。
                  </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password" class="col-sm-2 control-label name">确认密码</label>
              <div class="col-sm-9 ">
                <input type="password" #pass_control="ngModel"  [(ngModel)]="_passwordcon" required name="passname" class="form-control" id="password_confirm"  placeholder="请重新输入密码">
              </div>
            </div>
            <div class="form-group">
              <label  class="col-sm-2 control-label"></label>
              <div *ngIf="pass_control.value != pass.value && ( pass_control.dirty || pass_control.touched )"  class="col-sm-9 text-danger" id="error_password_confirm">
                <div>
                  <img src="{{jinggaoimg}}" alt="">密码不一致。
                </div>
              </div>
            </div>

            <div class="form-group">
              <label  class="col-sm-2 control-label">状态</label>
              <div id="btn_mybtn"  >
                <div *ngFor="let item of res;let i=index"   (click)="cindex=i" id="btn-btn" class="col-xs-2 col-sm-2 col-md-2 col-lg-2 " >
                  <button [style.background-color]="cindex==i?'yellow':''" type="button" id="but1"  >{{item}}</button>
                </div>

              </div>
            </div>

            <div class="form-group">
              <label  class="col-md-2 col-sm-2  control-label"></label>
              <div   class="col-md-6 col-sm-6 col-xs-12"  id="btn_register">注册</div>
              <div id="loginto" class="col-md-4 col-sm-4 col-xs-12">已有账号? <a routerLink="/login" routerLinkActive="active">立即登陆</a> </div>
            </div>
          </div>
          <div *ngSwitchCase="1">验证码登陆...</div>

        </div>
      </form>

    </div>
  </div>
</div>
