#bgimg{
  margin: 0;
  padding: 0;
  background:url("../../assets/imgs/loginregisterbg.jpg")center top no-repeat;
  font-size: 18px;
  height: 1080px;
}
a:link{
  text-decoration: none
}
#regist_form{
  background-color: rgba(255, 255, 255, 0.47);
  padding: 50px;
  margin-top: 180px;
}
#daohang{
  margin-bottom: 50px;
}

#telephone{
  font-size: 20px;
  height: 50px;
  margin-top: 5px;
}
#password{
  font-size: 20px;
  height: 50px;
  margin-top: 5px;
}
#password_confirm{
  font-size: 20px;
  height: 50px;
  margin-top: 5px;
}
.name{
  font-size: 18px;
  line-height: 50px;
}

#btn_mybtn>div>button[type='button']{
  width: 70px;
  height: 40px;
  background-color: white;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
}

#btn_register{
  width: 80px;
  height: 50px;
  font-size: 20px;
  color: white;
  background-color:  #fc736e;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  margin-top: 12px;
}
#logoname{
  color: white;
  font-size: 60px;

}

#loginto{
  margin-top: 25px;
}
