<div class="col-md-4 col-md-offset-2 col-lg-4 text-right ">
  <app-question-search></app-question-search>
</div>

<!--模态框====================================================================-->

<!--<div class="col-md-12 col-lg-12">-->
<section class="col-md-8  col-lg-8 ">
  <article class="col-md-12 col-lg-12">
    <h3 class="text-center  text-muted">孕妇</h3>
    <section class="col-md-12 col-lg-12 text-muted">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left  text-muted">回答：</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right  text-muted">点赞：</div>
    </section>
    <h4 class="text-center ">
      如何评价 ISIS 指示恐怖分子在超市食物里下毒？
    </h4>
    <div class="col-md-12 col-lg-12  text-muted">
      <div class="col-md-6 col-lg-6 text-left">题目编号：</div>
      <div class="col-md-6 col-lg-6 text-right">提问人：</div>
    </div>
    <section class=" col-md-12 col-lg-12 ">
      <p class="text-muted">
        <br>
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;建议超市在门口放一头猪作为安全措施，顾客需要踩着猪过去。
        升级版措施，炖一锅猪肉，喝口汤再进去。
        吃肉进门的成本太高了……</p>
    </section>
    <section class="col-md-12 col-lg-12 text-right h5">
      <a class="btn btn-sm see_color">查看详情</a>
    </section>

  </article>
  <article class="col-md-12 col-lg-12">
    <h3 class="text-center  text-muted">孕妇</h3>
    <section class="col-md-12 col-lg-12 text-muted">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left  text-muted">回答：</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right  text-muted">点赞：</div>
    </section>
    <h4 class="text-center ">
      如何评价 ISIS 指示恐怖分子在超市食物里下毒？
    </h4>
    <div class="col-md-12 col-lg-12  text-muted">
      <div class="col-md-6 col-lg-6 text-left">题目编号：</div>
      <div class="col-md-6 col-lg-6 text-right">提问人：</div>
    </div>
    <section class=" col-md-12 col-lg-12 ">
      <p class="text-muted">
        <br>
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;建议超市在门口放一头猪作为安全措施，顾客需要踩着猪过去。
        升级版措施，炖一锅猪肉，喝口汤再进去。
        吃肉进门的成本太高了……</p>
    </section>
    <section class="col-md-12 col-lg-12 text-right h5">
      <a class="btn btn-sm see_color">查看详情</a>
    </section>

  </article>
  <article class="col-md-12 col-lg-12">
    <h3 class="text-center  text-muted">孕妇</h3>
    <section class="col-md-12 col-lg-12 text-muted">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left  text-muted">回答：</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right  text-muted">点赞：</div>
    </section>
    <h4 class="text-center ">
      如何评价 ISIS 指示恐怖分子在超市食物里下毒？
    </h4>
    <div class="col-md-12 col-lg-12  text-muted">
      <div class="col-md-6 col-lg-6 text-left">题目编号：</div>
      <div class="col-md-6 col-lg-6 text-right">提问人：</div>
    </div>
    <section class=" col-md-12 col-lg-12 ">
      <p class="text-muted">
        <br>
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;建议超市在门口放一头猪作为安全措施，顾客需要踩着猪过去。
        升级版措施，炖一锅猪肉，喝口汤再进去。
        吃肉进门的成本太高了……</p>
    </section>
    <section class="col-md-12 col-lg-12 text-right h5">
      <a class="btn btn-sm see_color">查看详情</a>
    </section>

  </article>
  <article class="col-md-12 col-lg-12">
    <h3 class="text-center  text-muted">孕妇</h3>
    <section class="col-md-12 col-lg-12 text-muted">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left  text-muted">回答：</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right  text-muted">点赞：</div>
    </section>
    <h4 class="text-center ">
      如何评价 ISIS 指示恐怖分子在超市食物里下毒？
    </h4>
    <div class="col-md-12 col-lg-12  text-muted">
      <div class="col-md-6 col-lg-6 text-left">题目编号：</div>
      <div class="col-md-6 col-lg-6 text-right">提问人：</div>
    </div>
    <section class=" col-md-12 col-lg-12 ">
      <p class="text-muted">
        <br>
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;建议超市在门口放一头猪作为安全措施，顾客需要踩着猪过去。
        升级版措施，炖一锅猪肉，喝口汤再进去。
        吃肉进门的成本太高了……</p>
    </section>
    <section class="col-md-12 col-lg-12 text-right h5">
      <a class="btn btn-sm see_color">查看详情</a>
    </section>

  </article>
  <article class="col-md-12 col-lg-12">
    <h3 class="text-center  text-muted">孕妇</h3>
    <section class="col-md-12 col-lg-12 text-muted">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left  text-muted">回答：</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right  text-muted">点赞：</div>
    </section>
    <h4 class="text-center ">
      如何评价 ISIS 指示恐怖分子在超市食物里下毒？
    </h4>
    <div class="col-md-12 col-lg-12  text-muted">
      <div class="col-md-6 col-lg-6 text-left">题目编号：</div>
      <div class="col-md-6 col-lg-6 text-right">提问人：</div>
    </div>
    <section class=" col-md-12 col-lg-12 ">
      <p class="text-muted">
        <br>
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;建议超市在门口放一头猪作为安全措施，顾客需要踩着猪过去。
        升级版措施，炖一锅猪肉，喝口汤再进去。
        吃肉进门的成本太高了……</p>
    </section>
    <section class="col-md-12 col-lg-12 text-right h5">
      <a class="btn btn-sm see_color">查看详情</a>
    </section>

  </article>

  <div class="h5 col-md-12 col-lg-12">
    <nav aria-label="...">
      <ul class="pager">
        <li><a href="#" class="page_color">上一页</a></li>
        <li><a href="#" class="page_color">下一页</a></li>
      </ul>
    </nav>
  </div>
</section>
<div class="hidden-xs hidden-sm col-md-4  col-lg-4 Q_side">
  <app-question-aside></app-question-aside>
</div>

