ul{
  margin: 0;
  padding: 0;
}
article {
  background: white;
  margin-top: 30px;
}
.Q_side{
  margin-top: 20px;
  /*float: right; */
  /*position: fixed;*/
  /*height: 150px;*/
  /*background: white;*/
  /*border:solid 1px #eeeeee;*/
  /*box-shadow:  10px 10px 51px 0px rgba(0, 0, 0, 0.51);*/
  padding-top: 10px;
}


.page_color:hover{
  background:rgba(255, 100, 100, 0.69) ;
  color: white;
}
.see_color{
  background:rgba(255, 100, 100, 0.69) ;
  color: white;
}
.text_color{
  color:rgba(255, 100, 100, 0.69) ;
}
