<!--模态框====================================================================-->
<div class="col-sm-12 col-md-8 col-lg-8 hidden-md hidden-lg navbar-fixed-top"
     style="height: 50px;background-color: rgba(255, 100, 100, 0.1)">

  <div class="col-xs-2 col-sm-2">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
      问专家
    </button>
  </div>
  <div class="col-xs-10 col-sm-10">
    <!--<button type="button" class="btn btn-info btn-lg">我的问题</button>-->
    <div class="btn-group col-xs-12 col-sm-12">
      <button type="button" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        我的问题 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu col-xs-12 col-sm-12" style="height: 300px">
        <h3 class="text-center">您还没有问过问题哟！！！</h3>
        <!--<li><a href="#">Action</a></li>-->
        <!--<li><a href="#">Another action</a></li>-->
        <!--<li><a href="#">Something else here</a></li>-->
        <!--<li><a href="#">Action</a></li>-->
        <!--<li><a href="#">Another action</a></li>-->
        <!--<li><a href="#">Action</a></li>-->
        <!--<li><a href="#">Another action</a></li>-->
        <!--<li role="separator" class="divider"></li>-->
        <!--<li><a href="#">下一页</a></li>-->
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title text-center" id="myModalLabel">写下你的问题</h3>
        <div class="text-center">描述精确的问题更易得到解答</div>
      </div>
      <div class="modal-body">
        <label for="optionsRadios1">问题类型(必选)</label>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            孕妇
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            幼儿
          </label>
        </div>
        <label for="q_header">问题标题(必选)</label>
        <textarea name="q_header" id="q_header" cols="2" rows="3" class="form-control" maxlength="50"
                  placeholder="问题标题(不超过50字)" style=" resize : none"></textarea>
        <label for="q_body">问题描述(可选)</label>
        <textarea name="q_body" id="q_body" cols="10" rows="10" class="form-control" maxlength="200"
                  placeholder="问题背景、条件等详细信息(不超过200字)" style=" resize : none"></textarea>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default btn-lg " data-dismiss="modal">退出</button>
        <button type="button" class="btn btn-info btn-lg " data-dismiss="modal">提交</button>
      </div>
    </div>
  </div>
</div>
<!--模态框====================================================================-->
<section class="col-md-7 col-md-offset-1 col-lg-7 ">
  <article class="col-md-12 col-lg-12">
    <h1 class="text-center">孕妇</h1>
    <section class="col-md-12 col-lg-12">
      <div class="col-md-6 col-lg-6 text-left">回答：</div>
      <div class="col-md-6 col-lg-6 text-right">点赞：</div>
    </section>
    <h4 class="text-center ">
      如何评价 ISIS 指示恐怖分子在超市食物里下毒？
    </h4>
    <div class="col-md-12 col-lg-12 ">
      <div class="col-md-6 col-lg-6 text-left">题目编号：</div>
      <div class="col-md-6 col-lg-6 text-right">提问人：</div>
    </div>
    <section class=" col-md-12 col-lg-12 h4">
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;建议超市在门口放一头猪作为安全措施，顾客需要踩着猪过去。
      升级版措施，炖一锅猪肉，喝口汤再进去。
      吃肉进门的成本太高了……
    </section>
    <section class="col-md-12 col-lg-12 text-right h5">
      <button class="btn btn-lg btn-warning">查看详情</button>
    </section>

  </article>
  <article class="col-md-12 col-lg-12">
    <h1 class="text-center">孕妇</h1>
    <section class="col-md-12 col-lg-12">
      <div class="col-md-6 col-lg-6 text-left">回答：</div>
      <div class="col-md-6 col-lg-6 text-right">点赞：</div>
    </section>
    <h4 class="text-center ">
      如何评价 ISIS 指示恐怖分子在超市食物里下毒？
    </h4>
    <div class="col-md-12 col-lg-12 ">
      <div class="col-md-6 col-lg-6 text-left">题目编号：</div>
      <div class="col-md-6 col-lg-6 text-right">提问人：</div>
    </div>
    <section class=" col-md-12 col-lg-12 h4">
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;建议超市在门口放一头猪作为安全措施，顾客需要踩着猪过去。
      升级版措施，炖一锅猪肉，喝口汤再进去。
      吃肉进门的成本太高了……
    </section>
    <section class="col-md-12 col-lg-12 text-right h5">
      <button class="btn btn-lg btn-warning">查看详情</button>
    </section>

  </article>
  <article class="col-md-12 col-lg-12">
    <h1 class="text-center">孕妇</h1>
    <section class="col-md-12 col-lg-12">
      <div class="col-md-6 col-lg-6 text-left">回答：</div>
      <div class="col-md-6 col-lg-6 text-right">点赞：</div>
    </section>
    <h4 class="text-center ">
      如何评价 ISIS 指示恐怖分子在超市食物里下毒？
    </h4>
    <div class="col-md-12 col-lg-12 ">
      <div class="col-md-6 col-lg-6 text-left">题目编号：</div>
      <div class="col-md-6 col-lg-6 text-right">提问人：</div>
    </div>
    <section class=" col-md-12 col-lg-12 h4">
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;建议超市在门口放一头猪作为安全措施，顾客需要踩着猪过去。
      升级版措施，炖一锅猪肉，喝口汤再进去。
      吃肉进门的成本太高了……
    </section>
    <section class="col-md-12 col-lg-12 text-right h5">
      <button class="btn btn-lg btn-warning">查看详情</button>
    </section>

  </article>
  <article class="col-md-12 col-lg-12">
    <h1 class="text-center">孕妇</h1>
    <section class="col-md-12 col-lg-12">
      <div class="col-md-6 col-lg-6 text-left">回答：</div>
      <div class="col-md-6 col-lg-6 text-right">点赞：</div>
    </section>
    <h4 class="text-center ">
      如何评价 ISIS 指示恐怖分子在超市食物里下毒？
    </h4>
    <div class="col-md-12 col-lg-12 ">
      <div class="col-md-6 col-lg-6 text-left">题目编号：</div>
      <div class="col-md-6 col-lg-6 text-right">提问人：</div>
    </div>
    <section class=" col-md-12 col-lg-12 h4">
      &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;建议超市在门口放一头猪作为安全措施，顾客需要踩着猪过去。
      升级版措施，炖一锅猪肉，喝口汤再进去。
      吃肉进门的成本太高了……
    </section>
    <section class="col-md-12 col-lg-12 text-right h5">
      <button class="btn btn-lg btn-warning">查看详情</button>
    </section>

  </article>

</section>
<aside class=" hidden-xs hidden-sm  col-md-2 col-lg-2 ">
  <div class="list-group q3 ">
    <a href="#" class="list-group-item" style="background:rgba(255, 100, 100, 0.69) ;color: white;font-size: 1.5em">寻求帮助</a>
    <!--<a href="#" class="list-group-item">-->
    <div class="col-md-12 col-lg-12 q2">
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">
        问专家
      </button>
    </div>

    <!--</a>-->
    <div class="btn-group col-md-12 col-lg-12 q2">
      <button type="button" class="btn btn-lg btn-info dropdown-toggle" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        我的问题 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu col-md-12 col-lg-12" style="height: 300px">
        <h3 class="text-center">您还没有问过问题哟！！！</h3>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Action</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">上一页</a></li>
        <li><a href="#">下一页</a></li>
      </ul>
    </div>
    <!--</a>-->
  </div>
</aside>

