<!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">-->
<div class="col-md-12 col-lg-12 h5 text-right">
  <app-article-search></app-article-search>
</div>
<header class="col-xs-12 col-sm-12 col-md-12 col-lg-12 parenting_header">
  <br>
  <div id="carousel-example-generic" class="carousel slide col-xs-12 col-sm-12 col-md-8  col-lg-8 h5"
       data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner col-md-12  col-lg-12" role="listbox">
      <div class="item active col-md-12 col-lg-12">
        <img src="../../../assets/images/parenting_one.jpg" alt="...">
        <!--<div class="carousel-caption"></div>-->
      </div>

      <div class="item col-md-12 col-lg-12">
        <img src="../../../assets/images/parenting_two.jpg" alt="...">
        <!--<div class="carousel-caption"></div>-->
      </div>

      <div class="item col-md-12 col-lg-12 ">
        <img src="../../../assets/images/parenting_three.jpg" alt="...">
      </div>

    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ></span>-->
      <span class="sr-only">Next</span>
    </a>

  </div>
  <article class=" hidden-xs hidden-sm col-md-4 col-lg-4">
    <div class=" hidden-xs hidden-sm  col-md-12  col-lg-12 bottom">


      <div class="list-group text-center">
        <ul class="list-group">
          <li class="list-group-item h1 list_color">精彩问答</li>
        </ul>
        <a href="#" class="list-group-item">好睡姿 教你养出高颜值的宝宝</a>
        <a href="#" class="list-group-item">宝宝夜里总醒 原因搞清楚了吗</a>
        <a href="#" class="list-group-item">别大意 3情况影响宝宝牙齿发育</a>
        <a href="#" class="list-group-item">好睡姿 教你养出高颜值的宝宝</a>
        <a href="#" class="list-group-item">宝宝夜里总醒 原因搞清楚了吗</a>
      </div>
    </div>
  </article>

</header>
  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 row">
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="parenting_article text-center">文章精选</h1>

      <article class=" col-md-12 col-lg-12">
        <div class="h3 col-md-12  text-warning">
          幼儿
        </div>
        <div class="hidden-xs col-md-12 col-lg-5">
          <figure>
            <img src="../../../assets/images/article01.jpg">
          </figure>
        </div>
        <div class=" col-md-12 col-lg-7">
          <h3 class=" text-center col-md-12 col-lg-12" name="article_title">黄浦江上的的卢浦大桥</h3>
          <h5 class="col-md-12 col-lg-12 text-left text-muted">文章编号</h5>
          <h5 class=" col-md-12 col-lg-12 text-muted">作者：W3School 项目组&nbsp;&nbsp;&nbsp;&nbsp;时间：2010 年 10 月</h5>
          <p class=" col-md-12 col-lg-12 text-muted">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海卢浦大桥是当今世界第一钢结构拱桥，是世界上跨度最大的拱形桥。它也是世界上首座完全采用焊接工艺连接的大型拱桥（除合拢接口采用栓接外），现场焊接焊缝总长度达4万多米，接近上海市内环高架路的总长度。卢浦大桥像澳大利亚悉尼的海湾大桥一样具有旅游观光的功能。
          </p>
        </div>
        <div class="col-md-12 col-lg-12 text-right h5">
          <a class="btn btn-sm see_color">查看详情..</a>
        </div>
      </article>
    </section>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <article class=" col-md-12 col-lg-12">
        <div class="h3 col-md-12  text-warning">
          幼儿
        </div>
        <div class="hidden-xs col-md-12 col-lg-5">
          <figure>
            <img src="../../../assets/images/article01.jpg">
          </figure>
        </div>
        <div class=" col-md-12 col-lg-7">
          <h3 class=" text-center col-md-12 col-lg-12" name="article_title">黄浦江上的的卢浦大桥</h3>
          <h5 class="col-md-12 col-lg-12 text-left text-muted">文章编号</h5>
          <h5 class=" col-md-12 col-lg-12 text-muted">作者：W3School 项目组&nbsp;&nbsp;&nbsp;&nbsp;时间：2010 年 10 月</h5>
          <p class=" col-md-12 col-lg-12 text-muted">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海卢浦大桥是当今世界第一钢结构拱桥，是世界上跨度最大的拱形桥。它也是世界上首座完全采用焊接工艺连接的大型拱桥（除合拢接口采用栓接外），现场焊接焊缝总长度达4万多米，接近上海市内环高架路的总长度。卢浦大桥像澳大利亚悉尼的海湾大桥一样具有旅游观光的功能。
          </p>
        </div>
        <div class="col-md-12 col-lg-12 text-right h5">
          <a class="btn btn-sm see_color">查看详情..</a>
        </div>
      </article>
    </section>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <article class=" col-md-12 col-lg-12">
        <div class="h3 col-md-12  text-warning">
          幼儿
        </div>
        <div class="hidden-xs col-md-12 col-lg-5">
          <figure>
            <img src="../../../assets/images/article01.jpg">
          </figure>
        </div>
        <div class=" col-md-12 col-lg-7">
          <h3 class=" text-center col-md-12 col-lg-12" name="article_title">黄浦江上的的卢浦大桥</h3>
          <h5 class="col-md-12 col-lg-12 text-left text-muted">文章编号</h5>
          <h5 class=" col-md-12 col-lg-12 text-muted">作者：W3School 项目组&nbsp;&nbsp;&nbsp;&nbsp;时间：2010 年 10 月</h5>
          <p class=" col-md-12 col-lg-12 text-muted">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海卢浦大桥是当今世界第一钢结构拱桥，是世界上跨度最大的拱形桥。它也是世界上首座完全采用焊接工艺连接的大型拱桥（除合拢接口采用栓接外），现场焊接焊缝总长度达4万多米，接近上海市内环高架路的总长度。卢浦大桥像澳大利亚悉尼的海湾大桥一样具有旅游观光的功能。
          </p>
        </div>
        <div class="col-md-12 col-lg-12 text-right h5">
          <a class="btn btn-sm see_color">查看详情..</a>
        </div>
      </article>
    </section>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <article class=" col-md-12 col-lg-12">
        <div class="h3 col-md-12  text-warning">
          幼儿
        </div>
        <div class="hidden-xs col-md-12 col-lg-5">
          <figure>
            <img src="../../../assets/images/article01.jpg">
          </figure>
        </div>
        <div class=" col-md-12 col-lg-7">
          <h3 class=" text-center col-md-12 col-lg-12" name="article_title">黄浦江上的的卢浦大桥</h3>
          <h5 class="col-md-12 col-lg-12 text-left text-muted">文章编号</h5>
          <h5 class=" col-md-12 col-lg-12 text-muted">作者：W3School 项目组&nbsp;&nbsp;&nbsp;&nbsp;时间：2010 年 10 月</h5>
          <p class=" col-md-12 col-lg-12 text-muted">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海卢浦大桥是当今世界第一钢结构拱桥，是世界上跨度最大的拱形桥。它也是世界上首座完全采用焊接工艺连接的大型拱桥（除合拢接口采用栓接外），现场焊接焊缝总长度达4万多米，接近上海市内环高架路的总长度。卢浦大桥像澳大利亚悉尼的海湾大桥一样具有旅游观光的功能。
          </p>
        </div>
        <div class="col-md-12 col-lg-12 text-right h5">
          <a class="btn btn-sm see_color">查看详情..</a>
        </div>
      </article>
    </section>
    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <article class=" col-md-12 col-lg-12">
        <div class="h3 col-md-12  text-warning">
          幼儿
        </div>
        <div class="hidden-xs col-md-12 col-lg-5">
          <figure>
            <img src="../../../assets/images/article01.jpg">
          </figure>
        </div>
        <div class=" col-md-12 col-lg-7">
          <h3 class=" text-center col-md-12 col-lg-12" name="article_title">黄浦江上的的卢浦大桥</h3>
          <h5 class="col-md-12 col-lg-12 text-left text-muted">文章编号</h5>
          <h5 class=" col-md-12 col-lg-12 text-muted">作者：W3School 项目组&nbsp;&nbsp;&nbsp;&nbsp;时间：2010 年 10 月</h5>
          <p class=" col-md-12 col-lg-12 text-muted">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上海卢浦大桥是当今世界第一钢结构拱桥，是世界上跨度最大的拱形桥。它也是世界上首座完全采用焊接工艺连接的大型拱桥（除合拢接口采用栓接外），现场焊接焊缝总长度达4万多米，接近上海市内环高架路的总长度。卢浦大桥像澳大利亚悉尼的海湾大桥一样具有旅游观光的功能。
          </p>
        </div>
        <div class="col-md-12 col-lg-12 text-right h5">
          <a class="btn btn-sm see_color">查看详情..</a>
        </div>
      </article>
    </section>

    <div class="h5 col-md-10 col-md-offset-1 col-lg-10">
      <nav aria-label="...">
        <ul class="pager">
          <li><a href="#" class="page_color">上一页</a></li>
          <li><a href="#" class="page_color">下一页</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <aside class="hidden-xs hidden-sm col-md-3 col-lg-3">
    <app-article-aside></app-article-aside>
  </aside>



