<div class="col-md-12 col-lg-12">
  <article class="col-md-10 col-md-offset-1 col-lg-10">
    <section class="col-md-12 col-lg-12">
      <header class="text-center h2 col-md-12 col-lg-12" name="article_title">
        新手妈妈发愁：宝宝吃饱了吗？
      </header>
      <div class="h5 col-md-4 col-lg-4 text-center text-muted" name="article_author">
        作者：佚名
      </div>
      <div class="h5 col-md-4  col-lg-4 text-center text-muted" name="article_time">
        2017-09-05 17:20:28
      </div>
      <div class="h5 col-md-4 col-lg-4 text-center text-muted" name="article_from">
        出处：PCbaby
      </div>


      <div class="col-md-12 col-lg-12 text-right">
        <button class="btn btn-sm btn-info">
          <span class="glyphicon glyphicon-heart"></span>
          收藏
        </button>
      </div>

    </section>
    <section class="col-md-12 col-lg-12">
      <p class="text-muted">
        &nbsp;&nbsp; 十个妈妈有九个会担心宝宝吃不饱：宝宝哭闹不已，是不是没吃饱？晚上睡觉不踏实，是不是白天没喂够？吃完乳房还是涨涨的，是否需要继续喂？<br>
        　 &nbsp;&nbsp;的确，对于新手妈妈来说，由于缺乏经验，加之宝宝又不会说话，简单问题如“吃饱了吗？”也变得不简单了。
      </p>

    </section>
    <div class="col-md-12 col-lg-12">
      <img src="../../../assets/images/parenting_one.jpg" alt="" name="article_imgTop">
    </div>
    <section class="col-md-12 col-lg-12" name="article_bodyTop">
      <p class="text-muted">
        一、怎样判断宝宝吃饱了没呢？<br>
        　　 &nbsp;&nbsp;宏观方面，比如看大小便、体重增长情况：
        　　1.看大小便
        　　次数：如果每天至少有6次小便，3-4次大便，就说明宝宝吃得很好。
        　　之后随着月龄的增加，宝宝的大便次数会逐渐减少。
        　　颜色：宝宝刚出生，大便颜色是粘稠的深绿色，随着月龄的增加会慢慢变成正常的黄色。
        　　如果宝宝的便便颜色一直发暗，排便次数也不多，那很可能是喝奶量不够。
        　　2.看体重增长情况
        　　体重增长是宝宝吃饱的硬指标。
        　　0-2周：体重会出现生理性下降。下降幅度一般在5%-10%;超过10%，就需要看医生。
        　　2周-4周：每周增重约 110～200 g，体重开始平稳增长；
        　　2-6个月：每月体重增加 450～670 g，增重明显；
        　　6-12个月：体重每月增加 350～450 g，增速开始变慢。
        　　当然，每个宝宝的生长轨迹并不一样，不能要求宝宝严格按照以上体重增长。只要围绕着WHO生长曲线，在 3%～97% 范围内的都属于达标。
      </p>

    </section>
    <div class="col-md-12 col-lg-12">
      <img src="../../../assets/images/parenting_one.jpg" alt="" name="article_imgModdle ">
    </div>
    <section class="col-md-12 col-lg-12" >
      <p class="text-muted" name="article_bodyModdle">
        &nbsp;&nbsp;直观判断，可以看宝宝的表现：<br>
        　　1.吃奶速度慢了
        　　吃奶速度慢下来了，吸吮力度也减弱了，开始显得漫不经心，这就说明宝宝要吃饱了。
        　　2.对乳头失去兴趣
        　　会主动把奶头吐出来，开始跟妈妈或周围的人咿呀“说话”，头转向离开乳头的方向，对乳头不再关注。
        　　如果妈妈想强行把乳头塞给宝宝，宝宝会转头躲开，或用哭闹表示抗议。
        　　3.精神状态是放松和满足的
        　　宝宝如果吃饱了，就会特别“满足”。不哭也不闹，一般能够安静地入睡2～4个小时，如果醒了，还能玩一会儿。
        　　如果没吃饱，则表现为：烦躁、精神不振、哭闹不安等，或没睡1-2个小时就醒了。
      </p>

    </section>
    <div class=" col-md-12 col-lg-12">
      <img src="../../../assets/images/parenting_one.jpg" alt="" name="article_imgFinish">
    </div>
    <section class="col-md-12 col-lg-12" name="article_bodyFinish">
      <p class="text-muted">
        二、母乳喂养，如何保证宝宝吃饱喝足？<br>
        　　 &nbsp;&nbsp;有句话叫“母乳不是你想喂，想喂就能喂”，确实，母乳喂养是很一件很不容易的事儿。
        　　①母乳不足，宝宝不够吃怎么办？
        　　做好乳房排空，刺激泌乳：奶是越吸越多的，只有做到乳房排空，才能生产更多的奶。亲喂做不到完全排空或不能亲喂时，要用吸奶器排空奶水。
        　　采取正确的喂养姿势：喂奶姿势不正确，宝宝衔接不舒服，会影响宝宝在单位时间的吃奶量。
        　　混合喂养：不要觉得喂奶粉有负罪感，配方粉就是补充母乳不足的，它没什么不好，同样营养。
        　　②母乳充足，警惕过度喂养!
        　　母乳充足也有困扰？当然，妈妈们会觉得奶还有这么多，是不是没吃饱啊？很容易过度喂养！
        　　按需喂养：饿了就喂，吃饱就不勉强。
      </p>
    </section>
    <div class="col-md-12 col-lg-12 text-right">
      <h5 class="praise">
        <!--点赞+num-->
        <span id="praise"><img src="../../../assets/images/zan.png" id="praise-img"/></span>
        <span id="praise-txt" name="article_zan ">1455</span>
        <span id="add-num"><em>+1</em></span>
      </h5>
      <br>
    </div>
  </article>

</div>

