<div class=" col-md-8 col-md-offset-2 col-lg-8">
  <article class="col-md-12 col-lg-12">
    <section>
      <div class="col-md-6 col-lg-6 text-center h5">提问人：</div>
      <div class="col-md-6 col-lg-6 text-center h5">提问时间：</div>
      <header class="h3">
        &nbsp;&nbsp;我女儿这两天发烧难受，天气又热，开了空调才好点，请问医生要注意什么吗？
      </header>
    </section>
    <div class="col-md-12 col-lg-12 text-right">
      <button class="btn btn-sm btn-info">
        <span class="glyphicon glyphicon-heart"></span>
        收藏
      </button>
    </div>
    <section>
      &nbsp;&nbsp; 我想问问，小朋友发烧难受待在空调房里才能好一些，请问一下要注意什么吗？
    </section>
    <section class="answer">
      <header class="h5 text-left col-md-6 col-lg-6">专家：</header>   <header class="h5 text-right col-md-6 col-lg-6">回复时间：</header>
      <h5>回复内容：<br>
        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  有的家长认为宝宝出现感冒、发烧、腹泻等不适时，不适宜开空调，以免加重病情。实际上，在炎热的夏天合理开空调对宝宝身体恢复是有帮助的。宝宝感冒了，如果室内温度太高就不利于宝宝休息和睡眠，从而影响身体的康复。所以，气温太高时也要借助空调让宝宝感觉更舒适。此外，宝宝发烧时最好待在空调房里，可以帮助降温，但是要注意控制好房间的温度，不宜过冷，多检查宝宝体温的变化，必要时遵医嘱使用退烧药。当然，空调房内要适时通风，保持空气新鲜。
      </h5>
    </section>
    <section class="answer">
      <header class="h5 text-left col-md-6 col-lg-6">专家：</header>   <header class="h5 text-right col-md-6 col-lg-6">回复时间：</header>
      <h5>回复内容：<br>
        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  有的家长认为宝宝出现感冒、发烧、腹泻等不适时，不适宜开空调，以免加重病情。实际上，在炎热的夏天合理开空调对宝宝身体恢复是有帮助的。宝宝感冒了，如果室内温度太高就不利于宝宝休息和睡眠，从而影响身体的康复。所以，气温太高时也要借助空调让宝宝感觉更舒适。此外，宝宝发烧时最好待在空调房里，可以帮助降温，但是要注意控制好房间的温度，不宜过冷，多检查宝宝体温的变化，必要时遵医嘱使用退烧药。当然，空调房内要适时通风，保持空气新鲜。
      </h5>
    </section>
    <section class="answer">
      <header class="h5 text-left col-md-6 col-lg-6">专家：</header>   <header class="h5 text-right col-md-6 col-lg-6">回复时间：</header>
      <h5>回复内容：<br>
        &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  有的家长认为宝宝出现感冒、发烧、腹泻等不适时，不适宜开空调，以免加重病情。实际上，在炎热的夏天合理开空调对宝宝身体恢复是有帮助的。宝宝感冒了，如果室内温度太高就不利于宝宝休息和睡眠，从而影响身体的康复。所以，气温太高时也要借助空调让宝宝感觉更舒适。此外，宝宝发烧时最好待在空调房里，可以帮助降温，但是要注意控制好房间的温度，不宜过冷，多检查宝宝体温的变化，必要时遵医嘱使用退烧药。当然，空调房内要适时通风，保持空气新鲜。
      </h5>
    </section>


    <section class="text-right">
      <!--<button class="btn btn-danger btn-sm ">-->
      <!--回答-->
      <!--</button>-->
      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
        回答
      </button>
      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <textarea name="a_body" id="a_body" cols="10" rows="10" class="form-control"  maxlength="500" placeholder="回答详情(不超过500字)" style=" resize : none"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">退出</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal">提交</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--<section class="col-md-12 col-lg-12 text-right">收藏</section>-->
    <!--<section class="col-md-6 col-lg-6 text-right">点赞+num</section>-->


    <div class="col-md-12 col-lg-12 text-right">
      <h5 class="praise">
        <!--点赞+num-->
        <span id="praise"><img src="../../../assets/images/zan.png" id="praise-img"/></span>
        <span id="praise-txt">1455</span>
        <span id="add-num"><em>+1</em></span>
      </h5>
    </div>
  </article>
</div>
<footer class="row">
  <div class=" hidden-xs hidden-sm  col-md-12  col-lg-12 bottom">
    <div class="list-group text-center">
      <a href="#" class="list-group-item h1" style="background:rgba(255, 100, 100, 0.69) ;color: white;font-size: 1.5em">你可能感兴趣</a>
      <a href="#" class="list-group-item">好睡姿 教你养出高颜值的宝宝</a>
      <a href="#" class="list-group-item">宝宝夜里总醒 原因搞清楚了吗</a>
      <a href="#" class="list-group-item">别大意 3情况影响宝宝牙齿发育</a>
      <a href="#" class="list-group-item">好睡姿 教你养出高颜值的宝宝</a>
      <a href="#" class="list-group-item">宝宝夜里总醒 原因搞清楚了吗</a>

    </div>
  </div>
</footer>
