<nav class="navbar navbar-default">
  <div class="col-md-12 col-lg12">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
        BabyAPP
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" id="n1" style="margin-left: 50px">
        <li><a href="#">首页<span class="sr-only">(current)</span></a></li>
        <!--<li class="active" id="n1mather"><a href="#">母婴育儿知识</a></li>-->
        <!--<li class="n1"><a href="">>在线提问</a></li>-->
        <!--<li class="n1"><a href="">>我的收藏</a></li>-->
        <li class="dropdown active">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">母婴育儿知识 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">我的收藏</a></li>
            <li><a href="#">在线提问</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="user_bar">
        <li><a href="#">登录</a></li>
        <li><a href="#">注册</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="col-md-12 col-lg-12">
  <header class="col-md-12 col-lg-12">
    <div id="carousel-example-generic" class="carousel slide col-xs-12 col-sm-12 col-md-8  col-lg-8" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner col-md-8 col-md-offset-1 col-lg-8" role="listbox">
        <div class="item active col-md-12 col-lg-12">
          <img src="../../assets/images/1.jpg" alt="...">
          <!--<div class="carousel-caption"></div>-->
        </div>

        <div class="item col-md-12 col-lg-12">
          <img src="../../assets/images/2.jpg" alt="...">
          <!--<div class="carousel-caption"></div>-->
        </div>

        <div class="item col-md-12 col-lg-12 ">
          <img src="../../assets/images/3.jpg" alt="...">
          <!--<div class="carousel-caption"></div>-->
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ></span>-->
          <span class="sr-only">Next</span>
        </a>
      </div>



    </div>
    <div class=" hidden-xs hidden-sm col-md-3 col-lg-3">
      <div class="list-group">
        <a href="#" class="list-group-item" style="background:rgba(255, 100, 100, 0.69) ;color: white;font-size: 1.5em">妈妈须知</a>
        <a href="#" class="list-group-item">好睡姿 教你养出高颜值的宝宝</a>
        <a href="#" class="list-group-item">宝宝夜里总醒 原因搞清楚了吗</a>
        <a href="#" class="list-group-item">别大意 3情况影响宝宝牙齿发育</a>
        <a href="#" class="list-group-item">好睡姿 教你养出高颜值的宝宝</a>
        <a href="#" class="list-group-item">宝宝夜里总醒 原因搞清楚了吗</a>

      </div>
    </div>
  </header>



  <section class="col-md-8 col-md-offset-2 col-lg-8" >
    <article class="col-md-12 col-lg-12">
      <div class="h1 col-md-12">
        新生儿
      </div>
      <div class="col-md-6 col-lg-6">
        <figure>
          <img src="./3.jpg" width="350" height="234" />
        </figure>
      </div>
      <div class="col-md-6 col-lg-6">
        <p>黄浦江上的的卢浦大桥</p>
        <p>拍摄者：W3School 项目组，拍摄时间：2010 年 10 月</p>
        上海卢浦大桥是当今世界第一钢结构拱桥，是世界上跨度最大的拱形桥。它也是世界上首座完全采用焊接工艺连接的大型拱桥（除合拢接口采用栓接外），现场焊接焊缝总长度达4万多米，接近上海市内环高架路的总长度。卢浦大桥像澳大利亚悉尼的海湾大桥一样具有旅游观光的功能。

      </div>
      <div class="col-md-12 col-lg-12 text-right h5">
        <button class="btn btn-lg btn-warning">查看详情</button>
      </div>
    </article>






  </section>
  <section class="col-md-8 col-md-offset-2 col-lg-8" >
    <article class="col-md-12 col-lg-12">
      <div class="h1 col-md-12">
        新生儿
      </div>
      <div class="col-md-6 col-lg-6">
        <figure>
          <img src="./3.jpg" width="350" height="234" />
        </figure>
      </div>
      <div class="col-md-6 col-lg-6">
        <p>黄浦江上的的卢浦大桥</p>
        <p>拍摄者：W3School 项目组，拍摄时间：2010 年 10 月</p>
        上海卢浦大桥是当今世界第一钢结构拱桥，是世界上跨度最大的拱形桥。它也是世界上首座完全采用焊接工艺连接的大型拱桥（除合拢接口采用栓接外），现场焊接焊缝总长度达4万多米，接近上海市内环高架路的总长度。卢浦大桥像澳大利亚悉尼的海湾大桥一样具有旅游观光的功能。

      </div>
      <div class="col-md-12 col-lg-12 text-right h5">
        <button class="btn btn-lg btn-warning">查看详情</button>
      </div>
    </article>






  </section>
  <section class="col-md-8 col-md-offset-2 col-lg-8" >
    <article class="col-md-12 col-lg-12">
      <div class="h1 col-md-12">
        新生儿
      </div>
      <div class="col-md-6 col-lg-6">
        <figure>
          <img src="./3.jpg" width="350" height="234" />
        </figure>
      </div>
      <div class="col-md-6 col-lg-6">
        <p>黄浦江上的的卢浦大桥</p>
        <p>拍摄者：W3School 项目组，拍摄时间：2010 年 10 月</p>
        上海卢浦大桥是当今世界第一钢结构拱桥，是世界上跨度最大的拱形桥。它也是世界上首座完全采用焊接工艺连接的大型拱桥（除合拢接口采用栓接外），现场焊接焊缝总长度达4万多米，接近上海市内环高架路的总长度。卢浦大桥像澳大利亚悉尼的海湾大桥一样具有旅游观光的功能。

      </div>
      <div class="col-md-12 col-lg-12 text-right h5">
        <button class="btn btn-lg btn-warning">查看详情</button>
      </div>
    </article>






  </section>
  <section class="col-md-8 col-md-offset-2 col-lg-8" >
    <article class="col-md-12 col-lg-12">
      <div class="h1 col-md-12">
        新生儿
      </div>
      <div class="col-md-6 col-lg-6">
        <figure>
          <img src="./3.jpg" width="350" height="234" />
        </figure>
      </div>
      <div class="col-md-6 col-lg-6">
        <p>黄浦江上的的卢浦大桥</p>
        <p>拍摄者：W3School 项目组，拍摄时间：2010 年 10 月</p>
        上海卢浦大桥是当今世界第一钢结构拱桥，是世界上跨度最大的拱形桥。它也是世界上首座完全采用焊接工艺连接的大型拱桥（除合拢接口采用栓接外），现场焊接焊缝总长度达4万多米，接近上海市内环高架路的总长度。卢浦大桥像澳大利亚悉尼的海湾大桥一样具有旅游观光的功能。

      </div>
      <div class="col-md-12 col-lg-12 text-right h5">
        <button class="btn btn-lg btn-warning">查看详情</button>
      </div>
    </article>






  </section>





</div>
