
<div class="col-md-10 col-md-offset-1 col-lg-10">
  <div class="col-md-12 col-lg-12" style="height: 80px">

  </div>
  <div class="col-md-12 col-lg-12">
    <ul class="nav nav-tabs">
      <li role="presentation" routerLinkActive="active"><a class="text-muted" onclick="location.reload()" routerLink="./question"  >在线提问</a></li>
      <li role="presentation" routerLinkActive="active"><a class="text-muted" onclick="location.reload()" routerLink="./parenting-index"  >母婴育儿中心</a></li>
      <!--<li role="presentation" routerLinkActive="active"><a onclick="location.reload()" routerLink="./question-detail" >问题详情</a></li>-->
      <!--<li role="presentation" routerLinkActive="active"><a onclick="location.reload()" routerLink="./article-detail" >文章详情</a></li>-->
    </ul>
    <div class="col-md-12 col-lg-12" >
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>
