.navbar-default {
  background-color:   rgba(255, 199, 247, 0.31);
}
.navbar-default .navbar-brand {
  color: #FF6464;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus{
  color: white;
  background-color: #FF6464;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
  background-color: rgba(255, 100, 100, 0.69);
  color: white;
}
.carousel .carousel-control,
.carousel .left
{
  background-image: linear-gradient(transparent 0%,transparent 100%);
}
.carousel .carousel-indicators .active
{
  /*background-color: #FF6464;*/
  background-color: #FF6464;
}
section{
  margin-top: 50px;
}
article{
  background: white;
}
