<div class="goods">
  <div class="title">
    <span style="font-size: 1.8em;margin-left: 60px">TO-PLAN 无香料儿童面霜</span>
    <span style="font-size: 1.8em;margin-left: 20px">100g</span>
    <span style="font-size: 1.8em;margin-left: 20px;color: red">110元</span>
  </div>
  <div class="words"><span style="font-size: 1.3em; ">TO-PLAN 无香料儿童面霜110g，不含香料，不含色素，弱酸性，能滋养宝宝幼嫩的肌肤，防止干燥引起的皮肤粗糙。蕴含丰富的保湿成分，包括胶原蛋白、透明质酸以及各种保湿因子，能维持肌肤滋润，为宝宝肌肤形成有力的保护屏障。</span></div>
  <div class="price"><span style="font-size: 1.3em; ">目前 <a style="color: red;text-decoration: none" href="">亚马逊海外购</a>降价至45.16元，中亚prime会员（含试用）可享受订单满200元免直邮运费，仅需税费12元，直邮含税到手约57元。</span></div>
  <div class="smallpic"><a href=""><img src="../../assets/imgs/goodsdetail1.jpg" alt=""></a></div>
  <div class="btn"><span style="font-size: 1.2em;color:white;">去看看</span></div>
  <div class="bigpic"><a href=""><img src="../../assets/imgs/gooddetail2.jpg" width="350px" height="350px"></a></div>
  <div class="zan"></div>
</div>
<div class="interest">
  <div class="like">
    <div class="like_title"><div>你可能还喜欢</div></div>
  </div>
  <div class="goods-detail" onmouseover="$('#btn1').css('display','block')" onmouseout="$('#btn1').css('display','none')">
    <div><a href=""><img src="../../assets/imgs/gooddetail4.jpg" alt=""></a><br><br><a href=""><span style="font-size: 1.0em;padding-top: 50px">艾维诺：燕麦宝宝面霜 </span></a><br><br><a
     style="color: red" href=""><span style="font-size: 1.0em;padding-top: 50px">187元免税包邮</span></a></div>
    <div><a href=""><img src="../../assets/imgs/gooddetail5.jpg" alt=""></a><br><br><a href=""><span style="font-size: 1.0em;padding-top: 50px"> 哈罗闪 婴儿护肤面霜  </span></a><br><br><a
      style="color: red" href=""><span style="font-size: 1.0em;padding-top: 50px">凭优惠券(36-40)</span></a></div>
    <div><a href=""><img src="../../assets/imgs/gooddetail6.jpg" alt=""></a><br><br><a href=""><span style="font-size: 1.0em;padding-top: 50px">加州宝宝 舒缓婴幼儿面霜 </span></a><br><br><a
      style="color: red" href=""><span style="font-size: 1.0em;padding-top: 50px">折后40.3元免税包邮</span></a></div>
  </div>
<div class="btn1" id="btn1" onmouseup="$('#btn1').css('backgroundColor','red')">></div>
<div class="btn2"></div>
</div>
<div class="comment">
  <div class="login"></div>
  <textarea name="" id="" cols="80" rows="10" style="margin-left: 60px;"></textarea>
  <div class="yanzheng"><span style="margin-left: 60px">验证码:</span><input id="a" type="text"><p style="position: absolute;right: 190px;bottom:10px;cursor: pointer" onclick="change()">看不清？换一张</p><div id="login" >
    <a href="#"></a>
     </div>
   </div>
  <div class="submit" onclick="if(document.getElementById('a').value.toUpperCase( )!=document.getElementById('login').innerHTML.toUpperCase( )){alert('验证码错误')}">提交</div>
</div>
<div class="advertisement">
  <div class="experience">
    <div class="experience_title">
      <div class="experience_title_word">相关经验</div>
    </div>
    <div class="experience_comment">
      <a style="font-size: 1.3em"onmouseover="$('#picture1').css('display','block');$('#picture2,#picture3,#picture4').css('display','none')">奶粉罐秘密秒速看懂</a><br>
      <div id="picture1"><img src="../../assets/imgs/gooddetail7.jpg" alt=""></div>
      <a style="font-size: 1.3em" onmouseover="$('#picture2').css('display','block');$('#picture1,#picture3,#picture4').css('display','none')">奶粉罐秘密秒速看懂</a><br>
      <div id="picture2" style="display: none"><img src="../../assets/imgs/gooddetail8.jpg" alt=""></div>
      <a style="font-size: 1.3em"onmouseover="$('#picture3').css('display','block');$('#picture1,#picture2,#picture4').css('display','none')">奶粉罐秘密秒速看懂</a><br>
      <div id="picture3" style="display: none"><img src="../../assets/imgs/gooddetail9.jpg" alt=""></div>
      <a style="font-size: 1.3em"onmouseover="$('#picture4').css('display','block');$('#picture1,#picture2,#picture3').css('display','none')">奶粉罐秘密秒速看懂</a><br>
      <div id="picture4" style="display: none"><img src="../../assets/imgs/gooddetail10.jpg" alt=""></div>
    </div>
  </div>

</div>
<div  style="position: absolute;top: 2000px;width: 100%;height: 210px;background-color: #dadada;text-align: center">
  <p style="margin-top: 40px">About PCGROUP | 网站介绍 | 隐私政策 | 广告服务 | 合作媒体 | 投稿指南 | 使用条款 | 网站律师 | 联系我们 | 招聘精英 | 帮助中心 | 阿拉丁意见箱 | 用户体验提升计划</p>
  <p >未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。</p>
  <p >增值电信业务经营许可证：粤B2-20040647</p>
  <p >网站备案号：粤B2-20040647号-13</p>
  <p >举报邮箱：shenhezhiban@pconline.com.cn。</p>
  <p>粤公网安备 44010602000158号</p>
  <div style="position: absolute;left: 300px;top: 100px;"><img src="../../assets/imgs/foot1.png" alt=""></div>
  <div style="position: absolute;right: 300px;top: 100px;"><img src="../../assets/imgs/foot2.png" alt=""></div>
</div>
