<div class="pic">
  <div><a href=""><img id="pic1" src="./../../assets/imgs/goodshop_1.jpg" alt=""></a></div>
  <div><a href=""><img id="pic2" src="./../../assets/imgs/goodshop_2.jpg" alt=""></a></div>
  <div><a href=""><img id="pic3" src="./../../assets/imgs/goodshop_3.jpg" alt=""></a></div>
</div>
<div class="goods">
  <div class="goods_detail">
    <div class="comment">
      <div class="title">
        <span style="font-weight: 600;margin-left: 20px">【优惠】</span>
        <a href="">        <span class="words" style="font-size: 1.7em;margin-left: 20px">Merries 花王 纸尿裤大号 L54</span>
        </a>
        <span style="margin-left: 20px;font-size: 1.3em">  参考价格:</span>

        <span style="font-size: 1.7em;color: red;margin-left: 10px">79</span><span  style="font-size: 1.7em;color:red;">元</span>
      </div>
      <div class="detail" style="line-height: 35px;font-size: 1.1em" ><span >Quinny是荷兰的高级童车品牌，2001年被收购，与知名品牌Cosco、Maxi-Cosi同属于加拿大Dorel集团旗下。Quinny的童车品质可靠、设计感强，在宝岛台湾享有较高的声誉，国人较为熟悉的Quinny产品是在电影《宝贝计划》中挂在汽车后全速行驶却完好无损的婴儿车。Quinny  ZAPP在大陆地区的人气较高，具有外观时</span></div>
      <div class="goodspicture"><a href=""><img src="./../../assets/imgs/goods1.jpg" alt=""></a></div>
      <div class="price">      <a href="https://item.jd.com/1726849.html?utm_source=kong&utm_medium=zssc&utm_campaign=t_1000023385_1158&utm_term=8870cc47-9a45-4da3-9b72-a3694c54c323-p_1999-pr_261-at_1158&jd_pop=8870cc47-9a45-4da3-9b72-a3694c54c323&abt=0">京东报价 ：<span>55元</span></a>
        <a style="margin-left: 20px;" href="http://product.suning.com/0000000000/128983658.html?utm_source=union&utm_medium=14&utm_campaign=32258543&utm_content=504973">苏宁报价： <span>66元</span></a>
        <a style="margin-left: 20px" href="https://www.amazon.cn/">亚马逊报价： <span>78元</span></a>
      </div>
      <!--<div class="zan"></div>-->
    </div>
  </div>
  <div class="goods_detail">
    <div class="comment">
      <div class="title">
        <span style="font-weight: 600;margin-left: 20px">【优惠】</span>
        <a href="">        <span class="words" style="font-size: 1.7em;margin-left: 20px">Merries 花王 纸尿裤大号 L54</span>
        </a>
        <span style="margin-left: 20px;font-size: 1.3em">  参考价格:</span>

        <span style="font-size: 1.7em;color: red;margin-left: 10px">79</span><span  style="font-size: 1.7em;color:red;">元</span>
      </div>
      <div class="detail" style="line-height: 35px;font-size: 1.1em" ><span >Quinny是荷兰的高级童车品牌，2001年被收购，与知名品牌Cosco、Maxi-Cosi同属于加拿大Dorel集团旗下。Quinny的童车品质可靠、设计感强，在宝岛台湾享有较高的声誉，国人较为熟悉的Quinny产品是在电影《宝贝计划》中挂在汽车后全速行驶却完好无损的婴儿车。Quinny  ZAPP在大陆地区的人气较高，具有外观时</span></div>
      <div class="goodspicture"><a href=""><img src="./../../assets/imgs/goods1.jpg" alt=""></a></div>
      <div class="price">      <a href="https://item.jd.com/1726849.html?utm_source=kong&utm_medium=zssc&utm_campaign=t_1000023385_1158&utm_term=8870cc47-9a45-4da3-9b72-a3694c54c323-p_1999-pr_261-at_1158&jd_pop=8870cc47-9a45-4da3-9b72-a3694c54c323&abt=0">京东报价 ：<span>55元</span></a>
        <a style="margin-left: 20px;" href="http://product.suning.com/0000000000/128983658.html?utm_source=union&utm_medium=14&utm_campaign=32258543&utm_content=504973">苏宁报价： <span>66元</span></a>
        <a style="margin-left: 20px" href="https://www.amazon.cn/">亚马逊报价： <span>78元</span></a>
      </div>
      <div class="zan" id="zan" onclick="var x=document.getElementById('zan');zan.innerHTML++">1</div>
    </div>
  </div>
  <div class="goods_detail">
    <div class="comment">
      <div class="title">
        <span style="font-weight: 600;margin-left: 20px">【优惠】</span>
        <a href="">        <span class="words" style="font-size: 1.7em;margin-left: 20px">Merries 花王 纸尿裤大号 L54</span>
        </a>
        <span style="margin-left: 20px;font-size: 1.3em">  参考价格:</span>

        <span style="font-size: 1.7em;color: red;margin-left: 10px">79</span><span  style="font-size: 1.7em;color:red;">元</span>
      </div>
      <div class="detail" style="line-height: 35px;font-size: 1.1em" ><span >Quinny是荷兰的高级童车品牌，2001年被收购，与知名品牌Cosco、Maxi-Cosi同属于加拿大Dorel集团旗下。Quinny的童车品质可靠、设计感强，在宝岛台湾享有较高的声誉，国人较为熟悉的Quinny产品是在电影《宝贝计划》中挂在汽车后全速行驶却完好无损的婴儿车。Quinny  ZAPP在大陆地区的人气较高，具有外观时</span></div>
      <div class="goodspicture"><a href=""><img src="./../../assets/imgs/goods1.jpg" alt=""></a></div>
      <div class="price">      <a href="https://item.jd.com/1726849.html?utm_source=kong&utm_medium=zssc&utm_campaign=t_1000023385_1158&utm_term=8870cc47-9a45-4da3-9b72-a3694c54c323-p_1999-pr_261-at_1158&jd_pop=8870cc47-9a45-4da3-9b72-a3694c54c323&abt=0">京东报价 ：<span>55元</span></a>
        <a style="margin-left: 20px;" href="http://product.suning.com/0000000000/128983658.html?utm_source=union&utm_medium=14&utm_campaign=32258543&utm_content=504973">苏宁报价： <span>66元</span></a>
        <a style="margin-left: 20px" href="https://www.amazon.cn/">亚马逊报价： <span>78元</span></a>
      </div>
      <div class="zan"></div>
    </div>
  </div>
  <div class="hot">
    <img style="float: right" src="./../../assets/imgs/advertisement.jpg" alt="">
  </div>
</div>

